<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.beautiful_butterflies.quirky_quarks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game"
            android:screenOrientation="landscape"/>
        <activity android:name=".StandardModel"
            android:screenOrientation="portrait"/>
        <activity android:name=".particle_descriptions.UpQuark" />
        <activity android:name=".particle_descriptions.CharmQuark" />
        <activity android:name=".particle_descriptions.TopQuark" />
        <activity android:name=".particle_descriptions.Gluon" />
        <activity android:name=".particle_descriptions.DownQuark" />
        <activity android:name=".particle_descriptions.StrangeQuark" />
        <activity android:name=".particle_descriptions.BottomQuark" />
        <activity android:name=".particle_descriptions.Photon" />
        <activity android:name=".particle_descriptions.Electron" />
        <activity android:name=".particle_descriptions.Muon" />
        <activity android:name=".particle_descriptions.Tau" />
        <activity android:name=".particle_descriptions.ZBoson" />
        <activity android:name=".particle_descriptions.ElectronNeutrino" />
        <activity android:name=".particle_descriptions.MuonNeutrino" />
        <activity android:name=".particle_descriptions.TauNeutrino" />
        <activity android:name=".particle_descriptions.WBoson" />
        <activity android:name=".particle_descriptions.HiggsBoson"></activity>
    </application>

</manifest>